section#person_coverSection
    .person_cover_coverImg
        img#person_cover_coverImg(src="http://blogfiles.naver.net/20151120_88/wkib321_1448006625608ARKs0_JPEG/201511201703505.jpg")
    .person_cover_coverProfile
        .person_coverProfile_img
            img#person_cover_profileImg(src=`/${user.avatarUrl}`) 
        .person_coverProfile_name=user.username
    nav#person_nav  
        ul
            li 
                a(href=routes.person(user.id)) 타임라인 
            li 
                a(href=routes.personInfo(user.id)) 정보
            li 
                a(href="#") 친구
            li 
                a(href="#") 사진
            li 
                a(href="#") 보관함
            li 
                a(href="#") 더 보기