#main_content_newFeedSection {
    margin: 0 20px;
    border: 1px solid #d3d6db;
    border-radius: 5px;
    margin-bottom: 15px;
    background-color: #fff;
    .main_content_newFeedHeader {
        background-color: #f5f6f7;
        padding: 8px 24px 8px 0;
        border-radius: 5px 5px 0 0;
        #main_content_newFeedText {
            padding: 4px 6px 4px 8px;
            color: #4b4f56;
            font-size: 12px;
            font-weight: 600;
        }
    }
    .main_content_newFeedMain {
        padding: 10px 10px 0 10px; 
        box-sizing: border-box;
        overflow: hidden;
        .profile_section {
            width: 10%;
            float: left;
            a {
                img {
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    margin-top: 15px;
                    margin-left: 10px;
                }
            }
        }
        .content_section {
            width: 85%;
            float: left;
            .contentDiv {
                width: 100%;
                border: 1px solid #e6e6e6;
                margin-left: 20px;
                textarea {
                    width: 100%;
                    resize: none;
                    font-size: 18px;
                    margin-bottom: 3px;
                    border: none;
                    outline-style: none;
                    padding: 8px;
                    box-sizing: border-box;
                }              
                img {
                    width: 100px;
                    height: 100px;
                    margin-left: 8px;
                    margin-bottom: 5px;
                    object-fit: cover;
                    object-position: top;
                }
            }
        }
    }
    .main_content_newFeedFooter {
        padding: 5px;
        .main_content_borderSection {
            border-top: 1px solid #e6e6e6;
            padding-top: 5px;
            overflow: hidden;
            input[type=button] {
                float: right;
                margin-right: 10px;
                padding: 3px 10px;
                border: none;
                font-weight: bold;
                cursor: pointer;
            }
            input[type=submit] {
                float: right; 
                margin-right: 10px;
                padding: 3px 10px;
                background-color: #4267b2; 
                color: #fff;
                border: none;
                font-weight: bold;
                cursor: pointer;
            }
        }
    }
}