extends layouts/main.pug 

block content
    header#header 
        .container 
            .row    
                .header
                    h1
                        a(href="#") facebook
                    .menu_login
                        form(action="#", method="post", id="login_form") 
                            .form_left
                                h3 이메일
                                input(type="text", id="login_email", name="login_email", class="login_email", placeholder="이메일")
                            .form_center 
                                h3 비밀번호 
                                input(type="password", id="login_pw", name="login_pw", class="login_pw", placeholder="비밀번호")
                            .form_right
                                h3 　 
                                input(type="submit", id="login_submit", name="login_submit", class="login_submit", value="로그인")
    main
        section#signUp 
            .container 
                .row
                    .signUp
                        .signUp_left 
                            h2 새 계정 만들기 
                            p(class="p1") 항상 지금처럼 무료로 즐기실 수 있습니다. 
                            form 
                                input(type="text", placeholder="성(姓)", id="signUp_fname", name="signUp_fname", class="signUp_fname") 
                                input(type="text", placeholder="이름(성은 제외)", id="signUp_lname", name="signUp_lname", class="signUp_lname") 
                                input(type="text", placeholder="이메일", id="signUp_email", name="signUp_email", class="signUp_email") 
                                input(type="password", placeholder="새 비밀번호", id="signUp_pw", name="signUp_pw", class="signUp_pw") 
                                h3 생일
                                select(id="select_year", name="select_year", aria-placeholder="연도", title="연도") 
                                    option(value="0") 연도 
                                    option(value="2019") 2019 
                                select(id="select_month", name="select_month", aria-placeholder="월", title="월") 
                                    option(value="0") 월 
                                select(id="select_day", name="select_day", aria-placeholder="일", title="일") 
                                    option(value="0") 일 
                                .chk_gender 
                                    input(type="radio", name="chk_gender", id="chk_boy", value="남성")
                                    label(for="chk_boy") 남성
                                    input(type="radio", name="chk_gender", id="chk_girl", value="여성") 
                                    label(for="chk_girl") 여성
                                p.p2 가입하기 버튼을 클릭하면 Facebook의 <a href="#">약관</a>, <a href="#">데이터 정책</a> 및 <a href="#">쿠키 정책</a>에 동의하게 됩니다. <br> Facebook으로부터 SMS 알림을 받을 수 있으며 알림은 언제든지 옵트 아웃 할 수 있습니다. 
                                button(type="submit", id="btn_signUp", name="btn_signUp", class="btn_signUp")  가입하기
                        .signUp_right
    footer#footer
        .container 
            .row
                .footer 
                    ul  
                        li 
                            a 가입하기 
                        li 
                            a 로그인 
                        li 
                            a Messenger 
                        li 
                            a Facebook Lite 
                        li 
                            a 친구찾기 
                        li 
                            a 사람 
                        li 
                            a 프로필 
                        li 
                            a 페이지 
                        li 
                            a 페이지 카테고리 
                        li 
                            a 장소 
                        li 
                            a 게임 
                        li 
                            a 위치 
                        li 
                            a Marketplace 
                        li 
                            a 그룹 
                        li 
                            a Instagram 
                        li 
                            a 지역 
                        li 
                            a 기부 캠페인 
                        li 
                            a 회사소개 
                        li 
                            a 광고 만들기 
                        li 
                            a 페이지 만들기 
                        li 
                            a 개발자
                        li 
                            a 채용 정보
                        li 
                            a 개인정보처리방침
                        li 
                            a 쿠키
                        li 
                            a 이용약관
                        li 
                            a 계정 보안
                        li 
                            a 로그인 도움말
                        li  
                            a 고객센터 
                    address Facebook &copy; #{new Date().getFullYear()}

                                            

                                            