extends layouts/mainLayout.pug
include mixins/feedBlock.pug
include mixins/adBlock.pug

block content 
    if(user)
        include partials/header
    main
        section#main_contents 
            .main_container 
                .main_row
                    .main_contents 
                        section#main_contentFeedSection
                            include partials/feedWriteBlock.pug
                            each item in feeds
                                if(friendList.indexOf(item.userId) !== -1 || user.id === item.userId)
                                    +feedBlock({
                                        id: item.id, 
                                        date: item.date,
                                        userId: item.userId,
                                        userName: item.username,
                                        content: item.content,
                                        avatar: item.avatarUrl, 
                                        feedImg: item.feedImg,
                                        likeCount: item.likeCount, 
                                        commentCount: item.commentCount, 
                                        replyCount: item.replyCount
                                    })
                        section#main_content_adSection
                            article#main_content_adContent  
                                .main_content_ad 
                                    .main_ad_text Advertisement
                                each item in ad 
                                    +adBlock({
                                        title: item.title,
                                        img: item.img,
                                        address: item.address,
                                        addressName: item.address_name, 
                                        description: item.description
                                    })
                            article#main_content_footerContent 
                                ul
                                    li 
                                        a(href="#") 개인정보처리방침 
                                    li 
                                        a(href="#") 이용 약관 
                                    li  
                                        a(href="#") 광고 
                                address Facebook &copy; #{new Date().getFullYear()}
                        section#main_content_editFeed 
                            include partials/feedWriteBlock.pug 
                    