extends layouts/mainLayout.pug
include mixins/feedBlock.pug

block content 
    if(user)
        include partials/header
    main
        section#main_contents 
            .main_container 
                .main_row
                    .main_contents 
                        section#main_contentFeedSection
                            include partials/feedWriteBlock.pug
                            each item in feeds
                                +feedBlock({
                                    id: item.id, 
                                    date: item.date,
                                    userId: item.userId,
                                    userName: item.username,
                                    content: item.content,
                                    avatar: item.avatarUrl, 
                                    feedImg: item.feedImg,
                                    likeCount: item.likeCount, 
                                    commentCount: item.commentCount
                                })
                        section#main_content_adSection
                            section#main_content_adContent  
                            section#main_content_footerContent 
                                ul
                                    li 
                                        a(href="#") 개인정보처리방침 
                                    li 
                                        a(href="#") 이용 약관 
                                    li  
                                        a(href="#") 광고 
                                address Facebook &copy; #{new Date().getFullYear()}
                        section#main_content_editFeed 
                            include partials/feedWriteBlock.pug 