extends layouts/mainLayout.pug
include mixins/feedBlock.pug

block content
    include partials/header
    main 
        section#person_contents 
            .person_container 
                .person_row 
                    .person_contents 
                        include partials/person_coverSection.pug
                        section#person_feedSection  
                            .person_feed_detailInfo 
                                article#person_detailInfo_introduce
                                    .person_introduce_text 
                                        i.fas.fa-globe-asia 
                                        span 소개 
                                    if(personUser.introduce == null && personUser.id == user.id) 
                                        .person_introduce_add
                                            i.far.fa-comment-alt
                                            p.person_add_p 간단한 소개를 추가하여 회원님에 대해 자세히 알려주세요.
                                            span.person_add_add 소개 추가 
                                        .person_introduce_textarea 
                                            form(action="#", method="post") 
                                                div 
                                                    <textarea id="introduce_textarea" name="introduce_textArea" placeholder="간단한 소개글을 작성해 주세요. &#13;&#10;(30자까지 입력가능)"></textarea>
                                                button#introduce_textarea_submit(type="submit") 적용 
                                                button#introduce_textarea_cancel(type="button") 취소
                                        .person_introduce_textDiv(style="display:none") 
                                            i.far.fa-comment-alt 
                                            p#person_introduce_textP
                                            span#person_introduce_editBtn 소개 수정
                                    else 
                                        .person_introduce_textDiv 
                                            i.far.fa-comment-alt
                                            if(personUser.introduce == null) 
                                                p#person_introduce_textP 작성된 소개글이 없습니다.
                                            else  
                                                p#person_introduce_textP=personUser.introduce
                                            if(personUser.id == user.id)
                                                span#person_introduce_editBtn 소개 수정
                                    .person_introduce_info 
                                        p 정보 1 
                                        p 정보 2 
                                        p 정보 3 (가입일)
                                article#person_detailInfo_friends 
                                    .person_detailInfo_friendsText 
                                        i.fas.fa-user-friends 
                                        span 친구 
                                        span.person_friendsText_count 100명 
                                        span.person_friendsText_find 친구 찾기
                                    .person_detailInfo_friendsGrid 
                                        div 1
                                        div 2
                                        div 3
                                        div 4
                                        div 5
                                        div 6
                                        div 7
                                        div 8
                                        div 9
                                article#person_detailInfo_footer 
                                    ul
                                        li 
                                            a(href="#") 개인정보처리방침 
                                        li 
                                            a(href="#") 이용 약관 
                                        li  
                                            a(href="#") 광고 
                                    address Facebook &copy; #{new Date().getFullYear()}                               
                            .person_feed_myFeed
                                include partials/feedWriteBlock.pug
                                .person_myFeed_text 게시물 
                                each item in personFeed
                                    if(item.userId == personUser.id)
                                        +feedBlock({
                                            id: item.id, 
                                            date: item.date,
                                            userId: item.userId,
                                            userName: item.username,
                                            content: item.content,
                                            avatar: item.avatarUrl, 
                                            feedImg: item.feedImg,
                                            likeCount: item.likeCount, 
                                            commentCount: item.commentCount
                                        })                            