extends layouts/mainLayout.pug

block content 
    include partials/header 
    main 
        section#personInfo_contents 
            .personInfo_container 
                .personInfo_row 
                    .personInfo_contents    
                        include partials/person_coverSection.pug
                        section#person_infoSection
                            .person_infoSection_infoText 
                                i.fas.fa-user 
                                span 정보 
                            .person_infoSection_infoWrap 
                                .person_infoWrap_menu 
                                    #person_infoWrap_menu1 개요 
                                    #person_infoWrap_menu2 경력 및 학력 
                                    #person_infoWrap_menu3 거주 장소 
                                    #person_infoWrap_menu4 연락처 및 기본 정보 
                                    #person_infoWrap_editInfo 비밀번호 변경 
                                .person_infoWrap_content 
                                    #person_content_menu1 
                                        .person_menu1_left 
                                            .person_menu1_workspace 
                                                i.far.fa-plus-square 
                                                span 직장 추가 
                                            .person_menu1_school 
                                                i.far.fa-plus-square 
                                                span 학교 추가 
                                            .person_menu1_live 
                                                i.far.fa-plus-square 
                                                span 거주지 추가
                                        .person_menu1_right
                                            .person_menu1_phone 
                                                i.fas.fa-mobile-alt
                                                span 010-4017-8123
                                            .person_menu1_birthday  
                                                i.fas.fa-birthday-cake 
                                                span 1994년 9월 7일 
                                    #person_content_menu2 
                                        .person_menu2_workspace 
                                            .person_menu2_workspaceText 직장  
                                            .person_menu2_workspaceAdd 
                                                i.far.fa-plus-square 
                                                span 직장 추가 
                                        .person_menu2_university
                                            .person_menu2_universityText 대학 
                                            .person_menu2_universityAdd
                                                i.far.fa-plus-square 
                                                span 대학 추가
                                        .person_menu2_highschool 
                                            .person_menu2_highschoolText 고등학교 
                                            .person_menu2_highschoolAdd
                                                i.far.fa-plus-square 
                                                span 고등학교 추가
                                    #person_content_menu3
                                        .person_menu3_residence
                                            .person_menu3_residenceText 거주지와 출신지  
                                            .person_menu3_residenceAdd 
                                                i.far.fa-plus-square 
                                                span 거주지 추가
                                            .person_menu3_hometownAdd
                                                i.far.fa-plus-square 
                                                span 출신지 추가  
                                        .person_menu3_liveEtc 
                                            .person_menu3_liveEtcText 기타 살았던 곳 
                                            .person_menu3_liveEtcAdd 
                                                i.far.fa-plus-square 
                                                span 장소 추가
                                    #person_content_menu4
                                        .person_menu4_phone
                                            .person_menu4_phoneText 연락처 정보
                                            .person_menu4_phoneInfoDiv 
                                                .person_menu4_phoneInfoText 휴대폰 
                                                .person_menu4_phoneInfo 010-4017-8123 
                                            .person_menu4_emailInfoDiv 
                                                .person_menu4_emailInfoText 이메일 
                                                .person_menu4_emailInfo vdncks25@naver.com
                                        .person_menu4_person 
                                            .person_menu4_personText 기본 정보 
                                            .person_menu4_personBirthdayDiv 
                                                .person_menu4_personBirthdayText 생일 
                                                .person_menu4_personBirthday 1994년 9월 7일 
                                            .person_menu4_personGenderDiv 
                                                .person_menu4_personGenderText 성별 
                                                .person_menu4_personGender 남성 
                                            .person_menu4_personBloodDiv 
                                                .person_menu4_personBloodText 혈액형 
                                                .person_menu4_personBlood O형  
                                    #person_content_changePassword  
                                        form(action="#", method="post")
                                            div
                                                label(for="person_changePassword_now") 현재 비밀번호 
                                                input(type="password", id="person_changePassword_now")
                                            div
                                                label(for="person_changePassword_change") 변경할 비밀번호 
                                                input(type="password", id="person_changePassword_change")
                                            div
                                                label(for="person_changePassword_confirm 확인") 변경할 비밀번호 확인
                                                input(type="password", id="person_changePassword_confirm") 
                                            input(type="submit", id="person_changePassword_submit")
