.commentBlock_section {
    .registered_comments {
        position: relative;
        .commentPart {
            overflow: hidden;
            padding: 12px;
            .registered_comments_img {
                float: left;
                width: 6%;
                img {
                    width: 40px;
                    height: 40px;
                    border-radius: 50%; 
                    object-fit: cover;
                }
            }
            .registered_comments_comment {
                float: left;
                width: 80%;
                background-color: #f2f3f5; 
                border-radius: 16px;
                padding: 8px 12px;  
                margin-left: 3%;
                @media(max-width: 960px) {
                    width: 79%;
                    margin-left: 4%;
                }
                @media(max-width: 850px) {
                    width: 76%;
                    margin-left: 5%;
                }
                @media(max-width: 786px) {
                    margin-left: 2%;
                    width: 80%;
                }
                @media(max-width: 650px) {
                    margin-left: 4%;
                    width: 75%;
                }
                @media(max-width: 500px) {
                    margin-left: 6%;
                    width: 74%;
                }
                a {
                    color: #385898; 
                    font-size: 13px; 
                    font-weight: bold;
                    margin-right: 2%;
                }
                .registered_comment_content {
                    display: inline-block;
                    font-size: 13px;
                }
            }   
            i {
                float: left;
                line-height: 40px;
                margin-left: 3%;
                cursor: pointer;
                color: #e9ebee;
                &:hover {
                    color: black;
                }
            }
            .registered_comments_menu {
                float: left;
                margin-left: 25px;
                overflow: hidden;
                a{
                    float: left;
                    cursor: pointer;
                    color: #385898;
                }
                .dot {
                    float: left;
                    display: block;
                    width: 2px;
                    height: 2px; 
                    border-radius: 50%;
                    background-color: black;
                    margin: 9px 4px;
                }
                .registerd_comments_time {
                    float: left;
                    color: #606770;
                }
                .registered_time_gap {
                    float: left;
                    color: #606770;
                }
            }
            .editCommentDiv {
                display: none;
                float: left;
                background-color: #f2f3f5; 
                width: 80%;
                padding: 8px 12px;
                border-radius: 16px;
                border: 1px solid #ccd0d5;
                form {
                    input {
                        width: 100%;
                        background-color: #f2f3f5;
                        outline-style: none;
                        border: none;
                    }
                }
            }
            .editComment_cancelDiv {
                display: none;
                float: left;  
                margin-top: 9px;
                margin-left: 10px;
                cursor: pointer;
                color: blue;
            }
            .editComment_replyDiv {
                display: none;
                .editComment_writeReply {
                    float: left;
                    width: 80%;
                    overflow: hidden;
                    margin-left: 10%;
                    margin-top: 10px;
                    form {
                        span {
                            display: none;
                        }
                        img {
                            float: left;
                            width: 30px;
                            height: 30px;
                            border-radius: 50%;
                            margin-right: 2%;
                            margin-top: 4px;
                            object-fit: cover;
                        }
                        input {
                            float: left;
                            width: 80%;
                            background-color: #f2f3f5; 
                            border: 1px solid #ccd0d5; 
                            border-radius: 16px;
                            padding: 8px 12px;
                            outline-style: none;
                            @media (max-width: 786px) {
                                width: 86%;
                            }
                            @media (max-width: 700px) {
                                width: 83%;
                            }
                            @media (max-width: 550px) {
                                width: 80%;
                            }
                        }
                    }
                }  
                .editComment_Reply_cancel {
                    float: left;
                    margin-top: 17px;
                    cursor: pointer;
                    color: blue;
                    @media (max-width: 550px) {
                        margin-left: 8px;
                    }
                }
            }
        }
        .menu {
            position: absolute;
            width: 135px;
            right: 30px;
            top: 40px;
            background-color: white;
            z-index: 10;
            border: 1px solid rgba(0,0,0,.15); 
            box-shadow: 0 2px 8px rgba(0,0,0,.3);
            box-sizing: border-box;
            padding: 3px 0;
            border-radius: 5px;
            ul {
                cursor: pointer;
                li {
                    padding: 3px 8px;
                    box-sizing: border-box; 
                    font-size: 14px;
                    &:first-child {
                        border-bottom: 1px solid #e9ebee; 
                    }
                    &:hover {
                        background-color: #385898;
                        color: #fff;
                    }
                    i {
                        margin-right: 5%;
                    }
                    .comment_deleteText {
                        margin-left: 3%;
                    }
                }
            }
        }     
    }
}
