mixin reqFriendBlock(reqFriend = {}) 
    .header_friendbox_request 
        .friendbox_request_image 
            img(src=`/${reqFriend.avatar}`)
        .friendbox_request_name 
            h4=reqFriend.name
        .friendbox_request_button(style="display:block") 
            .friendbox_add_button 
                i.fas.fa-user-plus
                h5 수락   
            button.friendbox_delete_button 삭제
        .frinedbox_request_add(style="display:none") 
            i.fas.fa-check 
            h5 수락함
        .friendbox_request_targetId(style="display:none")=reqFriend.target 
        .friendbox_request_applicantId(style="display:none")=reqFriend.applicant
    .header_friendbox_null(style="display:none") 
        h5 새로운 요청이 없습니다. 