.registered_reply {
    position: relative;
    .replyPart {
        overflow: hidden;
        padding-left: 11.5%;
        margin-bottom: 10px;
        .registered_reply_img {
            float: left;
            margin-right: 2%;
            margin-top: 3px;
            img {
                width: 30px;
                height: 30px;
                border-radius: 50%;
                object-fit: cover;
            }
        }
        .registered_reply_reply {
            float: left;
            background-color: #f2f3f5; 
            border-radius: 16px;
            padding: 8px 12px; 
            overflow: hidden;
            width: 70%;
            margin-right: 6.5%;
            @media(max-width: 850px) {
                margin-right: 3.5%;
            }
            @media(max-width: 786px) {
                width: 75%;
            }
            @media(max-width: 700px) {
                width: 73%;
            }
            @media(max-width: 550px) {
                width: 70%;
                margin-right: 5.5%;
            }
            a {
                float: left;
                color: #385898; 
                font-size: 13px; 
                font-weight: bold;
                margin-right: 2%;
            }
            span {
                float: left;
                font-size: 13px;
            }
        }
        i {
            float: left;
            line-height: 38px;
            cursor: pointer;
            color: #e9ebee;
            &:hover {
                color: black;
            }
        }
        .editReplyDiv {
            display: none;
            float: left; 
            background-color: #f2f3f5; 
            width: 83%;
            padding: 8px 12px;
            border-radius: 16px;
            border: 1px solid #ccd0d5;
            box-sizing: border-box;
            form {
                input {
                    width: 100%;
                    background-color: #f2f3f5;
                    outline-style: none;
                    border: none;
                }
            }
        }
        .editReply_cancel {
            display: none;
            float: left;
            margin-top: 9px;
            margin-left: 10px;
            cursor: pointer;
            color: blue;
        }
    }
    .reply_menu {
        display: none;
        position: absolute;
        width: 135px;
        right: 30px;
        top: 27px;
        background-color: white;
        z-index: 10;
        border: 1px solid rgba(0,0,0,.15); 
        box-shadow: 0 2px 8px rgba(0,0,0,.3);
        box-sizing: border-box;
        padding: 3px 0;
        border-radius: 5px;
        ul {
            cursor: pointer;
            li {
                padding: 3px 8px;
                    box-sizing: border-box; 
                    font-size: 14px;
                    &:first-child {
                        border-bottom: 1px solid #e9ebee; 
                    }
                    &:hover {
                        background-color: #385898;
                        color: #fff;
                    }
                    i {
                        margin-right: 5%;
                    }
                    .reply_deleteText {
                        margin-left: 3%;
                    }
            }
        }
    }
}