.search_person_block {
    width: 100%;
    overflow: hidden;
    background-color: #fff;
    padding: 15px;
    box-sizing: border-box;
    border: 1px solid #d3d6db;
    border-radius: 5px;
    img {
        float: left;
        width: 60px;
        height: 60px;
        object-fit: cover;
        border-radius: 50%;
        margin-right: 15px;
    }
    h4 {
        line-height: 60px;
        float: left;
        font-size: 18px;
        color: #365899;
        font-weight: bold;
    }
    .search_person_addFriendbutton {
        float: right;
        overflow: hidden;
        background-color: #4267b2; 
        color: #fff;
        border-radius: 2px;
        padding: 5px 8px;
        margin-top: 16px;
        cursor: pointer;
        i {
            float: left;
            margin-top: 3px;
            margin-right: 5px;
        }
        .addFriend {
            float: left;
        }
        .search_person_friend {
            float: left;
        }
    }
    .search_person_friendbutton {
        float: right;
        overflow: hidden;
        background-color: #e9ebee; 
        color: black;
        border-radius: 2px;
        padding: 5px 8px;
        margin-top: 16px;
        cursor: pointer;
        i {
            float: left;
            margin-top: 3px;
            margin-right: 5px;
        }
        .addFriend {
            float: left;
        }
        .search_person_friend {
            float: left;
        }
    }
    .serach_person_reqFriendbutton {
        float: right;
        overflow: hidden;
        background-color: #e9ebee; 
        color: black;
        border-radius: 2px;
        padding: 5px 8px;
        margin-top: 16px;
        cursor: pointer;
        i {
            float: left;
            margin-top: 3px;
            margin-right: 5px;
        }
        h5 {
            float: left;
        }
    }
}