mixin replyBlock(reply = {})
    .registered_reply 
        .replyPart 
            .registered_reply_img 
                img(src=`/${reply.userAvatar}`)
            .registered_reply_reply 
                a.registered_reply_name(href="#")=reply.userName
                span.registered_comment_content=reply.reply
            i.fas.fa-ellipsis-h

                