/* layout */
#header { 
    background-color:#385898;  height: 82px; 
    @media (max-width: 768px) {
        height: 220px; 
        background: none;
    }
    @media (max-width: 486px) {
        height: 100vh;
    }
}
#signUp {
    background-color: #e9ebee;
    @media (max-width: 486px) {
        display: none;   
    }
 }

 #footer {
    @media (max-width: 486px) {
        display: none;
    }
 }

/* container */
.container {
     width: 1000px; height: inherit; margin: 0 auto;
     @media (max-width: 1024px) {
         width: 100%;
     }
 }

 /* row */
 .row {
     @media (max-width: 1024px) {
         padding: 0 20px; 
     }
     @media (max-width: 768px) {
         padding: 0;
     }
 }

/* header */
.header {
    overflow: hidden; 
    h1 {
        font-size: 40px; 
        font-weight: bold;
        padding-top: 10px;
        float: left;
        @media (max-width: 1024px) {
            padding-top: 10px;
        } 
        @media (max-width: 768px) {
            float: none; 
            width: 100%;
            line-height: 70px;
            text-align: center;
            padding: 0;
            background-color: #385898;
        }
        @media (max-width: 486px) {
            height: 65vh;
            line-height: 65vh;
        }
        a {
            color: #fff;
        }
    }
    .menu_login {
        float: right;
        padding-top: 15px;
        overflow: hidden;
        @media (max-width: 768px) {
            float: none;
            width: 100%;
            text-align: center;
            margin: 10px 0;
        }
        @media (max-width: 486px) {
            padding-top: 7vh;
        }
        form {
            h3 {
                color: #fff; 
                padding-bottom: 4px; 
                font-size: 12px;
                margin-left: 14px;
                @media (max-width: 768px) {
                    display: none;
                }
            }
            input {
                margin-left: 14px;
                margin-bottom: 4px;
                &::placeholder {
                    color: #fff;
                }
                @media (max-width: 768px) {
                    width: 75%;
                    font-size: 14px;
                    padding: 2px 0 2px 6px; 
                    box-sizing: border-box;
                    margin-bottom: 10px;
                    &::placeholder {
                        color: #9e9e9e;
                    }
                }
                @media (max-width: 486px) {
                    font-size: 16px;
                }
            }
        }
        .form_left {
            float: left;
            @media (max-width: 768px) {
                width: 100%;
            }
        }
        .form_center {
            float: left;
            @media (max-width: 768px) {
                width: 100%;
            }
        }
        .form_right {
            float: left;
            @media (max-width: 768px) {
                width: 100%;
            }
            @media (max-width: 486px) {
                padding-bottom: 3vh;
            }
            .login_submit {
                padding: 2px 6px; 
                font-size: 12px;
                cursor: pointer;
                border: 1px solid #29487d;
                border-radius: 2px;
                color: #fff;
                background-color: #4267b2;
                @media (max-width: 768px) {
                    padding: 4px 6px;
                    font-size: 16px;
                }
            }
        }
        .header_signup {
            display: none;
            @media (max-width: 768px) {
                display: none;
            }
            @media (max-width: 486px) {
                display: block;
                font-size: 12px;
            }
        }
    }
}

/* signUp*/
.signUp {
    overflow: hidden; 
    padding: 20px 0; 
    @media (max-width: 768px) {
        padding: 10px 15px;
    }
    .signUp_left {
        width: 50%; float: left; 
        @media (max-width: 768px) {
            width: 100%;
        }
    }
    h2 {
        font-size: 36px;
        font-weight: bold;
        @media (max-width: 768px) {
            text-align: center;
        }
    }
    .p1 {
        font-size: 19px; 
        margin-bottom: 20px; 
        padding-bottom: 20px; 
        @media (max-width: 768px) {
            text-align: center;
        }
    }
    form {
        float: left;
        padding-bottom: 30px;
        @media (max-width: 768px) {
            padding-bottom: 20px;
        }
        input {
            padding: 8px 10px;
            font-size: 18px;
            margin-bottom: 10px;
            border: 1px solid #bdc7d8; 
            border-radius: 5px;
            box-sizing: border-box;
        }
        h3 {
            margin-top: 10px;
            margin-bottom: 5px;
            font-size: 18px;
            font-weight: normal;
        }
        select {
            padding: 8px;
            margin-right: 5px;
            border: 1px solid #bdc7d8; 
            border-radius: 5px;
        }
        .chk_gender {
            padding: 10px 0;
            label {
                font-size: 18px;
                padding: 0 10px 0 3px;
            }
        }
        .p2 {
            font-size: 11px; 
            padding-bottom: 25px;
            @media (max-width: 768px) {
                text-align: center;
            }
            a {
                color: #365899;
            }
        }
        .btn_signUp {
            width: 200px;
            cursor: pointer;
            font-size: 19px;
            font-weight: bold;
            color: #fff;
            background: linear-gradient(#79bc64, #578843); 
            padding: 7px 20px; 
            border: 1px solid; 
            border-radius: 5px;
            @media (max-width: 768px) {
                width: 100%;
            }
        }
        .signUp_right {
            float: right;
            @media (max-width: 768px) {
                display: none;
            }
        }
        #login_email_validate {
            display: none;
            font-size: 15px;
            padding-bottom: 7px;
            padding-left: 10px;
        }
    }
    .signUp_fname {
        float: left;
        width: 45%; 
        box-sizing: border-box;
        margin-right: 2%;
    }
    .signUp_lname {
        float: right;
        width: 45%;
        box-sizing: border-box;
        margin-left: 2%;
    }
    .signUp_email {
        width: 100%;
        margin-bottom: 10px;
    }
    .signUp_pw {
        width: 100%;
    }
}

/* footer */
.footer {
    @media (max-width: 768px) {
        padding: 10px 35px;
    }
    ul {
        overflow: hidden;
        padding-top: 50px;
        @media (max-width: 768px) {
            padding-top: 13px;
        }
        li {
            float: left;
            padding-right: 20px;
            color: #365899;
            a{
                cursor: pointer;
            }
        }
    }
    address {
        display: block;
        padding-top: 30px;
    }
}
